extends ../partials/_layout
block variables
  - var title = 'FAQ | Corecircle Website'
  - var description = 'FAQ | Corecircle Website'
block content

  section.py-20(class="lg:container lg:mx-auto")
    .mb-6.max-w-xl
      h1.h1 FAQs
    .max-w-lg
      | We’re here to help! If there’s a question that isn’t answered, email us at
      a(href="mailto:help@corecircle.com" class="hover:border-0").ml-2.border-b.border-current.font-medium help@corecircle.com

  section.max-w-2xl.mx-auto.pb-10(class="lg:max-w-3xl")

    .faq
      button.accordion When’s Android coming out?
        .accordion_icon
          include ../partials/icon_chevron-down
      .panel
        | We don’t have a specific date yet, but we recommend you to follow our
        a(href="https://www.instagram.com/corecircleapp/?hl=en" class="hover:border-0" target="_blank" aria-label="Corecircle Instagram").mx-2.border-b.border-current Instagram
        | to get all the latest updates! Thanks so much for your patience 💛

    .faq
      button.accordion Where can I report a bug or recommend a feature?
        .accordion_icon
          include ../partials/icon_chevron-down
      .panel
        p.mb-4 You can do it on the app by going into your profile, clicking on the Settings icon on the top right of the screen and then pressing “Report Bug or Give Feedback.”
        p
          | Or, you can just DM us on Instagram
          a(href="https://www.instagram.com/corecircleapp/?hl=en" class="hover:border-0" target="_blank" aria-label="Corecircle Instagram").ml-2.border-b.border-current @corecircleapp
          | .

    .faq
      button.accordion Do my workouts auto-save when I update them?
        .accordion_icon
          include ../partials/icon_chevron-down
      .panel Yup, they should!

    .faq
      button.accordion How do I find people near me?
        .accordion_icon
          include ../partials/icon_chevron-down
      .panel Press on the Discover icon on the footer and you’ll see a list of people who are near you.

    .faq
      button.accordion How do I delete my account?
        .accordion_icon
          include ../partials/icon_chevron-down
      .panel
        p
          span DM us on Instagram
          a(href="https://www.instagram.com/corecircleapp/?hl=en" class="hover:border-0" target="_blank" aria-label="Corecircle Instagram").mx-2.border-b.border-current @corecircleapp
          span and we’ll delete your account!
        p We’ll soon add a feature where you can do it yourself.

