extends ../partials/_layout
block variables
  - var title = 'Corecircle'
  - var description = 'Corecircle'
block content

  section.mb-20(class='grid lg:grid-cols-2 lg:gap-2 lg:container lg:mx-auto lg:mb-10')
    .self-center.mb-4.text-center(class='lg:mb-0 lg:text-left')
      .mb-6(class='lg:max-w-xl')
        h1.h1 Ditch Stone Age workout tracking
      .mb-8(class='lg:max-w-xl')
        | Document your progress,
        span.inline-block(class="mr-1.5") track your exercise
        span(class="lg:inline-block") and find your community of fitness enthusiasts
      div.mb-10(class="lg:mb-0")
        a.btn-primary(href="https://apps.apple.com/us/app/corecircle-social-fitness/id1553742219" target="_blank")
          | Download app
          .animate-bounce.inline-block.w-4.h-4.text-white.ml-3
            include ../partials/icon_arrow-down-line
    .justify-self-center(style="margin-top:-2px")
      img.w-72(src="/img/img-1.webp" width="100%" height="100%" alt="Ditch Stone Age workout tracking" class="2xl:w-80")

  section.mb-20(class='grid lg:grid-cols-2 lg:gap-2 lg:container lg:mx-auto lg:my-20')
    .mb-4.max-w-xl(class='lg:mb-0')
      .mb-8(class='lg:mb-10')
        .badge-primary Community meets fitness
      .mb-8(class='lg:mb-10')
        h2.h2 Connect, document and track your fitness
      .mb-8(class='lg:mb-10')
        p.mb-8 We’re building a social fitness app to help you become your best self physically and mentally. On Corecircle, you can create workouts, track progress, document your goals, and connect with like-minded fitness enthusiasts.
        p Through the power of community, we inspire and keep fitness enthusiasts consistent both in and out of the gym.

    .w-full.self-center.justify-self-center.overflow-hidden(class="lg:px-16")
      include ../partials/_slider

  section.mb-20.bottom-bg(class="lg:py-20 lg:-mx-4 lg:px-4 lg:my-0")
    div(class='grid lg:grid-cols-2 lg:gap-2 lg:container lg:mx-auto')
      div
        .mb-8(class='lg:mb-10')
          .badge-primary Where we are
        .mb-8(class='lg:mb-10')
          h2.h2
            | Global reach of
            span(class="lg:inline-block") fitness enthusiasts
        .mb-8(class='lg:mb-10')
          p.max-w-2xl
            | For fitness enthusiasts around the world, Corecircle makes fitness easier, social and more organized. Since our launch in October 2021, we’ve amassed
            span.font-medium.mx-2 hundreds of thousands
            | of happy users.
        div.text-sm.letter-spacing.mb-10(class="lg:mb-0 xl:text-lg")
          dl.mt-5.grid.grid-cols-3(class='bg-orange-400/10 lg:bg-white/20 px-8 py-4 lg:p-0 rounded-full lg:overflow-hidden lg:shadow')
            div(class='md:px-5 md:py-2 lg:pl-10 xl:pl-14')
              dt.flex.justify-between.items-baseline(class='md:block lg:flex')
                .promo_count 200k+
              dd Users
            div(class='lg:pl-4 md:py-2')
              dt.flex.justify-between.items-baseline(class='md:block lg:flex')
                .promo_count 350k+
              dd Workouts Logged
            div(class='pl-4 md:px-5 md:py-2 md:pl-10')
              dt.flex.justify-between.items-baseline(class='md:block lg:flex')
                .promo_count 1.5M
              dd Fist Bumps

      .self-center.justify-self-center
        img.w-72(data-src="/img/img-3.webp" width="100%" height="100%" alt="Ditch Stone Age workout tracking" class="lazyload 2xl:w-80")
