block variables
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content=description)
    title #{title}
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="/style.css")
    link(rel='stylesheet' href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    script(defer src='https://unpkg.com/swiper@8/swiper-bundle.min.js')
    script(defer src="/js/script.js")
  body.min-h-screen
    .flex.flex-col.min-h-screen.top-bg.p-4(class="md:p-8 lg:py-0 lg:px-4")
      include _menu
      main
        block content
      include _footer
