.swiper
  .swiper-wrapper
    .swiper-slide
      img(data-src="/img/slider/1.jpeg" class="lazyload" width="100%" height="100%" alt="A truly social fitness app")
    .swiper-slide
      img(data-src="/img/slider/2.jpeg" class="lazyload" width="100%" height="100%" alt="A truly social fitness app")
    .swiper-slide
      img(data-src="/img/slider/3.jpeg" class="lazyload" width="100%" height="100%" alt="A truly social fitness app")
    .swiper-slide
      img(data-src="/img/slider/4.jpeg" class="lazyload" width="100%" height="100%" alt="A truly social fitness app")
    .swiper-slide
      img(data-src="/img/slider/5.jpeg" class="lazyload" width="100%" height="100%" alt="A truly social fitness app")
  .swiper-pagination
