.swiper
  .swiper-wrapper
    .swiper-slide
      img(src="/img/slider/1.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img(src="/img/slider/2.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img(src="/img/slider/3.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img(src="/img/slider/4.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img(src="/img/slider/5.jpeg" alt="A truly social fitness app")
  .swiper-pagination
