svg.max-h-full(viewbox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M13.5 7.1828L7.5 13.0609M7.5 13.0609L1.5 7.1828M7.5 13.0609V0M1.5 16H13.5' stroke='currentColor' stroke-width='2')
