//img.max-w-full(src="https://picsum.photos/400" alt="A truly social fitness app")
// Slider main container
.swiper
  // Additional required wrapper
  .swiper-wrapper
    // Slides
    .swiper-slide
      img.max-w-full(src="/img/slider/1.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img.max-w-full(src="/img/slider/2.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img.max-w-full(src="/img/slider/3.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img.max-w-full(src="/img/slider/4.jpeg" alt="A truly social fitness app")
    .swiper-slide
      img.max-w-full(src="/img/slider/5.jpeg" alt="A truly social fitness app")
  // If we need pagination
  .swiper-pagination
