@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corePrimaryColor: #FFA500;
}

.top-bg {
  background: #ffffff url("/img/top-bg.svg") top center no-repeat;
  background-size: auto 23rem;
}

@screen lg {
  .top-bg {
    background-size: 100% auto;
  }

  .bottom-bg {
    background: url("/img/bottom-bg.svg") bottom center no-repeat;
    background-size: 100% auto;
  }
}

@screen 2xl {
  .bottom-bg {
    background-position: top center;
  }
}

body {
  @apply text-lg font-light leading-8;
  color: #444562;
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  /*system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji*/
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.letter-spacing {
  letter-spacing: 0.05rem;
}

.lg\:container{
  max-width: 1280px !important;
}

.h1 {
  @apply font-semibold text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl leading-tight;
  letter-spacing: 0.05rem;
}

.h2 {
  @apply font-medium text-3xl md:text-4xl lg:text-5xl leading-tight;
}

.badge-primary{
  @apply font-medium rounded-full;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  letter-spacing: 0.01rem;

  background: linear-gradient(91.28deg, rgba(255, 165, 0, 0.2) 11.48%, rgba(255, 121, 85, 0.2) 53.89%, rgba(80, 107, 208, 0.2) 133.02%);
}

.btn-primary{
  @apply font-medium rounded-full py-3.5 px-16;
  @apply transition ease-in-out delay-150 duration-300 hover:scale-105;
  letter-spacing: 0.05rem;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;

  background: linear-gradient(131.73deg, var(--corePrimaryColor) 0%, #FFCB37 100%);
  box-shadow: 0 3px 30px rgba(73, 73, 73, 0.15);
}

.bg-orange-400{
  background-color: var(--corePrimaryColor);
}
.text-orange-400{
  color: var(--corePrimaryColor);
}

.promo_count{
  @apply flex items-baseline text-2xl lg:text-3xl font-semibold pt-2 lg:pt-0 xl:pt-2 leading-none;
  @apply text-orange-400 lg:text-white;
}


.faq {
  @apply pt-6 border-t border-gray-200;
}
.faq:first-of-type {
  @apply border-0;
}
.accordion {
  @apply flex w-full font-light text-2xl outline-0 transition mb-6;
  @apply hover:text-orange-400 hover:cursor-pointer;
}
.accordion.active {
  @apply text-orange-400;
}
.accordion.active .accordion_icon{
  @apply text-orange-400 rotate-180;
}
.accordion:hover .accordion_icon{
  @apply text-orange-400;
}
.accordion.active + .panel {
  @apply mb-6;
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion_icon {
  @apply transition duration-300 inline-block w-5 h-5 text-gray-400 mt-1 ml-auto;
}


.swiper {
  width: 275px;
  height: 275px;
}
@screen md {
  .swiper {
    width: 400px;
    height: 400px;
  }
}
@screen lg {
  .swiper {
    width: 380px;
    height: 380px;
  }
}
@screen xl {
  .swiper {
    width: 420px;
    height: 420px;
  }
}
.swiper-pagination-bullets {
  bottom: -2rem !important;
}
.swiper-pagination-bullet {
  margin: 0 0.75rem !important;
}
.swiper-pagination-bullet-active{
  background: var(--corePrimaryColor) !important;
}
